{% extends 'base.html.twig' %}

{% block body %}
    <h1>City list</h1>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Slug</th>
                <th>Status</th>
                <th>Position</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Vattax</th>
                <th>Content</th>
                <th>Id</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Deletedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for city in cities %}
            <tr>
                <td><a href="{{ path('city_show', { 'id': city.id }) }}">{{ city.name }}</a></td>
                <td>{{ city.slug }}</td>
                <td>{{ city.status }}</td>
                <td>{{ city.position }}</td>
                <td>{{ city.latitude }}</td>
                <td>{{ city.longitude }}</td>
                <td>{{ city.vatTax }}</td>
                <td>{{ city.content }}</td>
                <td>{{ city.id }}</td>
                <td>{% if city.createdAt %}{{ city.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if city.updatedAt %}{{ city.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if city.deletedAt %}{{ city.deletedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('city_show', { 'id': city.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('city_edit', { 'id': city.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('city_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
